@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-day {
  background: linear-gradient(
    to right bottom,
    $backgroundGradientStart,
    $backgroundGradientEnd
  );
}

.body-morning {
  background: linear-gradient(
    to right bottom,
    rgb(127, 208, 255),
    rgb(113, 195, 250)
  );
}
.body-evening {
  background: linear-gradient(
    to top,
    #040308,
    #ad4a28,
    #dd723c,
    #fc7001,
    #dcb697,
    #9ba5ae,
    #3e5879,
    #020b1a
  );
}

.body-night {
  background: linear-gradient(to right bottom, rgb(43, 43, 43), rgb(0, 0, 0));
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  height: fit-content;
  color: white;
}

header {
  font-size: 1rem;
}

.weather-container {
  @include flexCenter;
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  width: fit-content;
  p {
    font-size: 1rem;
    margin-left: 0.5rem;
    font-family: "Poppins", sans-serif;
  }
}

.progress-container {
  background: white;
  height: 20px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  .progress-bar {
    height: 100%;
    width: 0%;
    background: $progressColor;
    border-radius: 1rem;
  }
  #timer {
    background-color: $timeProgressColor;
  }
}

form,
header {
  min-height: 20vh;
  @include flexCenter();
  input,
  button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }
  button {
    cursor: pointer;
    background: white;
    color: $buttonColor;
    transition: all 0.3s ease;
    &:hover {
      background: $buttonColor;
      color: white;
    }
  }
}

.todo-container {
  @include flexCenter();
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  @include flexCenter();
  justify-content: space-between;
  //   transition: all 0.5s ease;
  li {
    flex: 1;
    padding: 0 1rem;
  }
}

.trash-btn,
.complete-btn {
  background: $listBTNColor;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  &:hover {
    opacity: 0.8;
  }
}

.complete-btn {
  background: $completeBackground;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6 !important;
}

select {
  appearance: none;
  outline: none;
  border: none;

  color: $buttonColor;
  cursor: pointer;
  width: 10rem;
  padding: 1rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  &::after {
    content: "\25BC";
    position: absolute;
    background: $buttonColor;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.5s ease;
  }
  &:hover::after {
    background: white;
    color: $buttonColor;
  }
}

.progressComplete {
  background-color: rgb(33, 216, 33) !important;
}
